html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: .9;
    text-align: center;
    display: flex;
    justify-content: center;
}

.header {
    overflow: hidden;
    position: sticky;
    background-color: black;
    height: 69px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    flex-basis: 1300px;
}

.logo {
    height: 50px;
    margin: 0 10px;
}

.navBar a {
    text-decoration: underline;
    margin: 0 10px;
}

.jumbotron {
    background-image: url(img/img-mission-background.jpg);
    background-position: center;
    height: 700px;
    flex-basis: 1200px;
    position: relative;
    display: flex;
    align-items: center;
}

.mission {
    background-color: black;
    width: 100%;
}

.t-of-the-month {
    margin: 50px 0;
}

.t-selection {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.t-box img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.t-box h4 {
    margin: 0 0 10px 0;
}

.locations {
    background-image: url(img/img-locations-background.jpg);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.locations h2 {
    margin: 0;
}

.loc-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.loc-box {
    background-color: black;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
}

.loc-box a {
    margin: 0 0 30px 0;
}

.footer h5 {
    float: left;
    margin: 20px;
}